DATABASE_URL = 'postgresql://user:password@host:5432/dbname'

GCP_PROJECT_ID = 'your-gcp-project-id'
GCP_BUCKET_NAME = 'your-gcp-bucket-name'
GCP_KEY_FILE = '/path/to/service-account-key.json'
REDIS_URL =  "redis-url"