NEXT_PUBLIC_BACKEND_BASE_URL= 'http://localhost:5000/api/v1'

NEXTAUTH_SECRET='supersecret'
JWT_SECRET='supersecret'


GITHUB_ID='github-id'
GITHUB_SECRET= 'github-secret'

NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxxxx
