services:
  redis: 
    image: redis:alpine
    ports: 
      - "6379:6379"
    volumes:
      - redis_data:/data

  postgres:
    image: postgres:alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data_dryink:/var/lib/postgresql/data/pgdata

volumes:
  postgres_data_dryink:
  redis_data:
